audio::-webkit-media-controls-panel {
  background-color: #262626;
  border:1px solid red !important;
}

audio::-webkit-media-controls-volume-slider {
  display: none !important;
}
audio::-webkit-media-controls-mute-button {
  display: none !important;
}
audio::-webkit-media-controls-mute-button:hover {
  display: none !important;
}
audio::-webkit-media-controls-play-button {
 display: none !important;
}
audio::-webkit-media-controls-current-time-display {
  display: none !important;
}
audio::-webkit-media-controls-time-remaining-display {
  display: none !important;
}
/* audio::-webkit-media-controls-timeline {
  background-color: #B1D4E0;
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
} */
audio::-webkit-media-controls-volume-slider {
  display: none !important;
}
audio::-webkit-media-controls-timeline-container{
  color: #B1D4E0 !important;
}
audio::-webkit-media-controls-seek-forward-button{
  color: #B1D4E0 !important; 
}
audio::-webkit-media-controls-volume-slider-container{
  background-color: #B1D4E0 !important; 
  display: none;
}
audio {
  background-color: #262626;
}
/* audio::-webkit-media-controls-panel, video::-webkit-media-controls-panel {
  background-color: red;
} */
audio::-webkit-media-controls-timeline{
  color: #B1D4E0; 
  background-color: #B1D4E0;
}
audio::-webkit-media-controls-progress-bar {
  background-color: red !important;
}
audio::-moz-range-progress {
  background-color: red !important;
}
audio::-ms-fill {
  background-color: red !important;
}